.cards
    display: grid
    grid-template-columns: repeat( 3 , 1fr)
    height: 380px 
    
    & div
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 30px 50px
        padding-top: 100px

        & p 
            color: #fff
            font-size: 25px
            padding-top: 30px
            border-top: 2px solid #fff
    


    